<h1>Mozart.Controller</h1>
<p><strong>Extends:</strong> <a href="/apidocs/mzt_object">Mozart.MztObject</a><p>
<p>Controller is a stub class, and contains no functionality. Applications should however implement controllers by extending Controller for future compatibility.</p>
