<h1>API Documentation</h1>
<p>The Mozart CoffeeScript classes contain the functionality of Mozart, this is provided as a reference.</p>
<p>Please choose a class on the left to see the properties and methods of that class.</p>