<h1>Mozart.Instance</h1>
<p>Instance represents a single entity, or row, of a model.</p>
<h2>Class Methods</h2>
	<h3></h3>
	<p></p>
<h2>Properties</h2>
	<h3>modelClass</h3>
	<p>The <a href="/apidocs/model">Mozart.Model</a> of this Instance.</p>
<h2>Constructor/Destructor</h2>
<h2>Instance Methods</h2>
	<h3>load(options)</h3>
	<p>Trigger all load logic in the instance, e.g. if the <code>modelClass</code> is registered with Ajax or localStorage, initiate a load operation.</p>
	<h3>save(options)</h3>
	<p>If the Instance exists in the store, update it and initiate an update operation with Ajax or localStorage if the model is registered for them. If the Instance does not exist, create it in the store and initiate a create operation in Ajax or localStorage if the model is registered for them.</p>
	<h3>destroy(options)</h3>
	<p>Remove the Instance from the store and initiate a delete operation with Ajax or localStorage if the model is registered for them.</p>
	<h3>get(attribute)</h3>
	<p>Return the value of the specified attribute or relation. Will throw an exception if the attribute of relation does not exist.</p>
	<h3>set(attribute, value)</h3>
	<p>Set the value of the specified attribute to the specified value, triggering the <code>change</code> and <code>change:<em>attribute</em> events. Will throw an exception if the attribute of relation does not exist.</p>
	<h3>copyTo([object])</h3>
	<p>Copy all attributes, including foreign keys, to the specified object. If copyTo is called with no parameters, create a new <a href="/apidocs/mzt_object">, copy all attributes and foreign keys to it, and return it.</p>
	<h3>copyFrom(object)</h3>
	<p>Update the Instance with values from the supplied object, returning true if the object was changed. copyFrom updates only the attributes with the names of the keys in <code>object</code>.</p>
<h2>Events</h2>
	<h3>change</h3>
	<p>change is triggered when any attribute on the Instance is modified, once for each individual change.</p>
	<h3>change:<em>attribute</em></h3>
	<p>Triggered when the value of <code>attribute</code> on the Instance changes.</p>
	<h3>create</h3>
	<p>Triggered when a <code>save()</code> has resulted in Instance creation in the store.</p>
	<h3>update</h3>
	<p>Triggered when a <code>save()</code> has resulted in Instance update in the store.</p>
	<h3>destroy</h3>
	<p>Triggered when a <code>save()</code> has resulted in Instance destroy in the store.</p>
<h2>Private Methods</h2>