<h1>Mozart.DataIndex</h1>
<p><strong>Extends:</strong> <a href="/apidocs/mzt_object">Mozart.MztObject</a><p>
<p>DataIndex is the abstract base class for index class implementations to be used with <a href="/apidocs/model">Mozart.Model</a>. DataIndex also contains the registry for index classes.</p>
<h2>Class Methods</h2>
	<h3>registerIndexClassType(idxType, classType)</h3>
	<p>Register the index class <code>classType</code> with the name <code>idxType</code>.</p>
	<h3>getIndexClassType(idxType)</h3>
	<p>Get the index class for the given <code>idxType</code> name.</p>
<h2>Properties</h2>
	<h3>indexTypes</h3>
	<p>A map of index type names to the appropriate index classes.</p>
<h2>Instance Methods</h2>
	<h3>load</h3>
	<p>A map of index type names to the appropriate index classes.</p>
	<h3>add(record)</h3>
	<p><strong>Abstract</strong>. Index implementations should override this method to add a record to the index.</p>
	<h3>remove(record)</h3>
	<p><strong>Abstract</strong>. Index implementations should override this method to remove a record to the index.</p>
	<h3>update(record, oldValue, newValue)</h3>
	<p><strong>Abstract</strong>. Index implementations should override this method to update a record in the index.</p>
	<h3>rebuild()</h3>
	<p><strong>Abstract</strong>. Index implementations should override this method to rebuild the index.</p>