<ul class="nav-stacked">
  <li class="nav-header"><h4>Core</h4></li>
  <li><a href="/apidocs/mzt_object">Mozart.MztObject</a></li>
  <li class="nav-header"><h4>Application</h4></li>
  <li><a href="/apidocs/view">Mozart.View</a></li>
  <li><a href="/apidocs/layout">Mozart.Layout</a></li>
  <li><a href="/apidocs/dom_manager">Mozart.DOMManager</a></li>
  <li><a href="/apidocs/controller">Mozart.Controller</a></li>
  <li class="nav-header"><h4>Data</h4></li>
  <li><a href="/apidocs/model">Mozart.Model</a></li>
  <li><a href="/apidocs/instance">Mozart.Instance</a></li>
  <li><a href="/apidocs/instance_collection">Mozart.InstanceCollection</a></li>
  <li><a href="/apidocs/relation_classes">Relation Classes</a></li>
  <li class="nav-header"><h4>Persistence Model Mixins</h4></li>
  <li><a href="/apidocs/ajax">Ajax</a></li>
  <li><a href="/apidocs/local_storage">LocalStorage</a></li>
  <li class="nav-header"><h4>Util</h4></li>
  <li><a href="/apidocs/util">Mozart.Util</a></li>
  <li><a href="/apidocs/cookies">Mozart.Cookies</a></li>
  <li><a href="/apidocs/router">Mozart.Router</a></li>
  <li class="nav-header"><h4>Framework</h4></li>
  <li><a href="/apidocs/data_index">Mozart.DataIndex</a></li>
  <li><a href="/apidocs/events">Mozart.Events</a></li>
  <li><a href="/apidocs/handlebars">Handlebars Helpers</a></li>
</ul>