<h1>Mozart.Cookies</h1>
<p>Cookies provides an interface to browser cookies. The current cookie contains key/value pairs that can be read and written using these functions.</p>
<h2>Class Methods</h2>
<h3>setCookie(name, value, options)</h3>
<p>Set the cookie key <code>name</code> to the object <code>value</code>. <code>options</code> is a map of options as follows:</p>
<ul class="list">
	<li><strong>path</strong> - The path of the cookie.</li>
	<li><strong>domain</strong> - The domain of the cookie.</li>
	<li><strong>max-age</strong> - The maximum age of the cookie in seconds. 
	<em>Note: IE8 and other legacy browsers may not support this property.</em></li>
	<li><strong>expires</strong> - The expiry date of the cookie as a JavaScript <code>Date</code> object.</li>
	<li><strong>secure</strong> - The cookie secure flag.</li>
</ul>
<h3>getCookie(name)</h3>
<p>Get the value of the key <code>name</code> in the cookie, or <code>null</code> if it is not set.</p>
<h3>removeCookie(name)</h3>
<p>Remove the key <code>name</code> in the cookie</p>
<h3>hasCookie(name)</h3>
<p>Return <code>true</code> if the key <code>name</code> exists in the cookie.</p>