<h1>Mozart.InstanceCollection</h1>
<p>InstanceCollection is the base class for all relation collections.</p>
<h2>Instance Methods</h2>
	<h3>all()</h3>
	<p>Return an array of all Instances in this collection.</p>
	<h3>allAsMap()</h3>
	<p>Return the collection as a map of Instance ids to Instances.</p>
	<h3>count()</h3>
	<p>Return the number of Instances in the collection.</p>
	<h3>bindEvents(models)</h3>
	<p>Bind the <code>create</code>, <code>update</code> and <code>destroy</code> events on each model in the <code>models</code> array to <code>onModelChange()</code> on this collection.</p>
	<h3>unBindEvents(models)</h3>
	<p>Unbind the <code>create</code>, <code>update</code> and <code>destroy</code> events on each model in the <code>models</code> array from <code>onModelChange()</code> on this collection.</p>