<h1>Guides</h1>
<p>There are a number of guides available for specific concepts and tasks in Mozart.</p>
<ul>
    <li><a href="/guides/core_concepts">Core Concepts</a></li>
    <li><a href="/guides/getting_help">Getting Help</a></li>
    <li><a href="/guides/understanding_binding">Understanding Binding</a></li>
    <li><a href="/guides/understanding_rendering">Understanding Rendering</a></li>
    <li><a href="/guides/understanding_views">Understanding Views</a></li>
    <li><a href="/guides/adding_new_view">Adding a New View &amp; Route</a></li>
    <li><a href="/guides/creating_controls">Creating Controls</a></li>
    <li><a href="/guides/application_structure">Application Structure</a></li>
    <li><a href="/guides/top_controller_pattern">The Top Controller Pattern</a></li>
    <li><a href="/guides/testing_mozart_applications">Testing Mozart Applications</a></li>
</ul>
<p>We are actively looking for contributors to these guides - if you've found a cool technique or solved a hairy problem, please consider contributing at <a href="http://github.com/bigcommerce/mozart.io">github.com/bigcommerce/mozart.io</a>.</p>