<h1>Getting Help</h1>

<p>Although Mozart is designed for ease of use and rapid development, writing applications in a new framework can be daunting. If you have a question, or are having difficulty getting something working, the following resources may help:</p>

<ul>
	<li>Read the <a href="/guides/core_concepts">Core Concepts</a></li>
	<li>Read the <a href="/guides">Guides</a></li>
	<li>Reference the <a href="/apidocs">API documentation</a></li>
	<li>Look at the <a href="/demos">Demos</a></li>
	<li>Ask a question at <a href="http://stackoverflow.com/">StackOverflow</a> using the <a href="http://stackoverflow.com/questions/tagged/mozart-mvc">mozart-mvc</a> tag.</li>
	<li>Contact us on Twitter <a href="https://twitter.com/mozartio">@mozartio</a></li>

</ul>

<p>We are especially interested in new guides. If you have struggled with a particular problem and solved it, please consider writing a guide and <a href="/guides/contributing_to_mozart">contributing it</a>.</p>