<h1>Demos</h1>

<h4>A selection of demo applications using Mozart:</h4>

<ul class="list">
	<li><a href="/standalone_demos/todomvc">TodoMVC</a> - <a href="http://github.com/tomcully/todomvc-mozart">Source</a></li>
	<li><a href="/tetris_demo">Tetris</a></li>
</ul>