<h1>Changelog</h1>

<h4>0.1.9</h4>
  <ul class="list">
    <li>Declarative View Actions</li>
    <li>&#123;{action}&#125; 'target' attribute now deprecated, use full path</li>
    <li>bind/one/unbind/trigger deprecated, use subscribe/subscribeOne/unsubscribe/publish</li>
    <li>requestAnimationFrame for smoother rendering where supported</li>
  </ul>

<h4>0.1.8</h4>
  <ul class="list">
    <li>HTTP Abstraction Layer CORS Support</li>
    <li>Hash routing bugfix</li>
    <li>Bind object release bugfix</li>
  </ul>

<h4>0.1.7</h4>
  <ul class="list">
    <li>Introduced transferrable bindings to correct problems with new binding implementation</li>
    <li>Extra specs and tests for greater code coverage</li>
  </ul>

<h4>0.1.6</h4>
  <ul class="list">
    <li>HTTP Abstraction Layer</li>
    <li>i18n Bugfixes, Lookup properties allowed</li>
    <li>Firefox popstate fixes</li>
    <li>Fixed Double-route bug when using Browser History routing</li>
    <li>Plugin Framework</li>
  </ul>

<h4>0.1.5</h4>
  <ul class="list">
    <li>Rewrote MztObject binding</li>
    <li>Refactored for node 0.10.0 support</li>
  </ul>

<h4>0.1.4</h4>
  <ul class="list">
    <li>Updated Mozart Build Chain to use Grunt v0.4.0</li>
  </ul>

<h4>0.1.3</h4>
  <ul class="list">
    <li>Moved to Browser History based routing, Hash routing is an optional mode</li>
  </ul>

<h4>0.1.2</h4>
  <ul class="list">
    <li>i18n now conforms to RFC4646</li>
    <li>DOM Manager reworked to support more events</li>
    <li>More descriptive exceptions and warnings</li>
    <li>Minor bug fixes</li>
  </ul>

<h4>0.1.1</h4>
  <ul class="list">
    <li>Added *Lookup properties to MztObject, action helper</li>
    <li>View handlebars helper can now take a property as the viewclass (partials)</li>
    <li>Added CoDo Document Generation</li>
  </ul>

<h4>0.1.0</h4>
  <ul class="list">
    <li>Added localStorage support</li>
  </ul>

<h4>0.0.9</h4>
  <ul class="list">
    <li>Renamed to Mozart</li>
  </ul>

<h4>0.0.8</h4>
  <ul class="list">
    <li>Major fixes to IE compatibility. Now works in IE8+.</li>
  </ul>

<h4>0.0.7</h4>
  <ul class="list">
    <li>Switched to Grunt from Brunch</li>
    <li>Views are now deferred for release, and released off-DOM</li>
    <li>Mozart Framework now uses CommonJS</li>
    <li>Global Keybindings in DOMManager</li>
  </ul>

<h4>0.0.6</h4>
  <ul class="list">
    <li>Added messageFormat Internationalization support</li>
  </ul>

<h4>0.0.5</h4>
  <ul class="list">
    <li>Added basic AJAX layer</li>
  </ul>

<h4>0.0.4</h4>
  <ul class="list">
    <li>Added mobile ToDo App demo, added mobile generators, fixed IE incompatibiliy bug</li>
  </ul>

<h4>0.0.3</h4>
  <ul class="list">
    <li>Renamed from RazorMVC, including all namespaces</li>
  </ul>

<h4>0.0.2</h4>
  <ul class="list">
    <li>New, faster off-DOM render engine</li>
  </ul>

<h2>Known Issues</h2>
  <ul class="list">
    <li>Functions correctly on IE8 but does not pass some specs.</li>
  </ul>

<h2>Future Plans</h2>
  <ul class="list">
    <li>Complete Unit Test coverage for new controls</li>
  </ul>