<h1>Getting Started</h1>
<h2>Installation</h2>

<h3>Prerequisites</h3>
<p>Mozart requires node.js, the sass ruby gem, and grunt:</p>

<h4>Node</h4>
<p>See the guide at <a href="http://nodejs.org">http://nodejs.org</a></p>

<h4>Ruby</h4>
<p>See the guide at <a href="https://rvm.io/rvm/install/">https://rvm.io/rvm/install/</a>, or using this command:</p>
<p><pre>\curl -L https://get.rvm.io | bash -s stable --ruby
</pre></p>

<h4>Sass</h4>
Install Sass (and other Ruby dependencies) with <code>bundler</code></p>
<p><pre>gem install bundler
bundle install
</pre></p>

<h4>Grunt</h4>
<p>See guide at <a href="http://gruntjs.com">http://gruntjs.com</a>, or using <code>npm</code></p>
<pre>sudo npm install -g grunt-cli
</pre>

<h3>The mozart-empty project</h3>
<p>Run the following to get and decompress the empty project:<p>
<pre>curl https://codeload.github.com/bigcommerce/mozart-empty/zip/master -o mozart-empty-master.zip
tar -xjf mozart-empty-master.zip
cd mozart-empty-master
</pre>
<p>Then, use the following to set up:</p>
<pre>npm install
bundle install
grunt run
</pre>

<p>The development server is now on <a href="http://localhost:8080">http://localhost:8080</a>.</p>

<h3>Hello World</h3>
<p>You can jump right in by changing the <code>app/templates/main_view.hbs</code> file, or follow the guide <a href="/guides/adding_new_view">Adding a new View &amp; Route</a> to create new pages in your app.</p>

<h3>Framework CDN</h3>
<p>Mozart is available from the following CDN servers:</p>
<ul>
	<li><a href='http://www.bigcommerce.com'>BigCommerce</a> - http://cdn1.bigcommerce.com/mozart/<strong><em>version</em></strong>/mozart.min.js<br>Supported Versions: <a href="http://cdn1.bigcommerce.com/mozart/0.1.6/mozart.min.js">0.1.6</a>, <a href="http://cdn1.bigcommerce.com/mozart/0.1.7/mozart.min.js">0.1.7</a></li>
</ul>