<div class="branding">
  {{view "App.NavBarView"}}
    <div class="hero">
      <div class="width-fixed">
        <div class="row">
          <figure class="hero-img">
            <img src="img/hero.png">
          </figure>
          <div class="col-1-2 push-1-2">
            <h1>Develop <strong><em>fast</em></strong>, <strong>rich</strong> &amp; <strong>beautiful</strong> applications in minutes.</h1>
            <div class="box-download">
              <a class="button-primary" href="http://github.com/bigcommerce/mozart">Mozart (GitHub)</a>
              <a class="button-secondary" href="//cdn.bigcommerce.com/mozart/0.1.9/mozart.min.js">mozart.min.js (CDN)</a>
              <a class="button-primary" href="http://github.com/bigcommerce/mozart-empty">mozart-empty (GitHub)</a>
              <a class="button-secondary" href="http://github.com/bigcommerce/mozart-empty/archive/master.zip">mozart-empty.zip (GitHub)</a>
              <p class="version-number">Current Version {{mozartversion}} - {{mozartversiondate}}</p>
            </div>
          </div>
        </div>
        <!-- //Row -->
      </div>
      <!-- //Width Fixed -->
    </div>
    <!-- //Hero -->
    
</div> <!-- //Branding -->

<div class="width-fixed">

  <div class="page">

    <div class="content" role="main">

      <div class="row">
        <div class="col-1-2">
          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">
              <h3>Mozart is a complete solution for most problems.</h3>
              <p><strong>Mozart</strong> isn't a library that just handles rendering, a microframework that needs other libraries to boot, or a set of coupled tools. Mozart is an all-singing, all-dancing platform designed with one purpose in mind: To help you develop fast, rich and beautiful applications <em>in minutes</em>, not after you've got tens of disparate components to play nice together. Having said that, Mozart is modular - its default configuration contains all you will need to get going immediately, but if you want to integrate your favourite tool or framework you'll find it as friendly as it is complete.</p>

            </div>
          </div>

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">

              <h3>Mozart is opinionated.</h3>
              <p>Because <strong>Mozart</strong> makes use of popular technologies and concepts like <a href="http://coffeescript.org">CoffeeScript</a>, <a href="http://handlebarsjs.com/">Handlebars</a>, <a href="http://jquery.com/">jQuery</a>, class-based views, the simple top-controller pattern, data binding and event capability on any object, and a convention-over-configuration style, Mozart allows you to get going quickly. It's also likely that reading through someone else's code for inspiration or help won't be so much of a chore.</p>

            </div>
          </div>

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">

              <h3>Why Another Clientside MVC Framework?</h3>
              <p>There are literally hundreds of JavaScript and CoffeeScript clientside frameworks. Why build another one? Well, it appears that nearly all the other frameworks, excellent though they may be, simply just won't work for you <em>out of the box</em>.</p>
              <p><strong>Mozart</strong> allows you to download or clone an empty project, and using the supplied generators get a working view or two up and running <em>in minutes, not  days</em>. And once you're in there you'll find all the speed of rendering, declarative syntax, lack of boilerplate and ease of use you'll find in all your other favourite frameorks, but all in one place...</p>
            </div>
          </div>

        </div> <!-- //Col 2 -->

        <div class="col-1-2">
          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">

              <h3><strong>Mozart</strong> is compatible.</h3>
              <p>Completely compatible with almost all <a href="http://jquery.com/">jQuery</a> plugins and components, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://underscorejs.org/">Underscore</a>, and many, many other JS tools and libraries, <strong>Mozart</strong> doesn't pull nasty tricks with the DOM, or lock you into strange and unnatural ways of using JavaScript or CoffeeScript. Each view is an element, each template comes from Handlebars, and you can talk to any of them directly if you wish.</p>

            </div>
          </div>
          <!-- //Media -->

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">

              <h3>Mozart is <em>fast</em>.</h3>
              <p>Large Complex Application? Bring it on. Thousands of views on one page? No Problem. Advanced relational data clientside? Sure. Hundreds of data bindings between objects? Easy.</p>
              <p><strong>Mozart</strong> views, models and controllers are lightweight, the built-in models function near the speed of a real database, and the rendering engine is optimized to hell and back on all modern browsers.</p>

              </div>
          </div>
          <!-- //Media -->

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">
              <h3>Mozart has built-in cool.</h3>
              <p>You'll find most things you need built right in.</p>
              <ul class="list">
                <li>RESTful Ajax - check.</li>
                <li>Local storage support - done.</li>
                <li><a href="https://github.com/SlexAxton/messageformat.js">Messageformat internationalization</a> - sweet as.</li>
                <li>Integrated <a href="http://pivotal.github.com/jasmine/">Jasmine</a> specs for BDD - yup.</li>
                <li>A <a href="http://gruntjs.com/">Grunt</a> / <a href="http://nodejs.org/">NodeJS</a> based development environment - OK</a>
                <li>Model / View / Controller generation from command line - right here.</li>
              </ul>
            </div>
          </div>
          <!-- //Media -->


        </div> <!-- //Col 2 -->

        <div class="col-1-1">

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">

              <h3>Sounds too good to be true?</h3>
              <p>Well, for a start, you're looking at a Mozart application <em>right now</em>. Just take a look at the <a href="/getting_started">Getting Started</a> section, you may find you'll never go back.</p>

            </div> <!-- //media-body-->

          </div> <!-- //media -->

          <div class="media m-bottom-continent p-right-continent">
            <div class="media-feature">
              <i class="icon-img icon-horn"></i>
            </div>
            <div class="media-body">
              <h2>Features</h2>
              <ul class="list">
                <li>History or Hash Routing, multiple Layout managers</li>
                <li>Configurable, reusable view classes</li>
                <li>Advanced clientside data models and relations (hasOne, hasMany, hasManyThrough and polymorphic relations) with indexing</li>
                <li>An easy-to-use Handlebars based templating system with a set of simple and powerful helpers</li>
                <li>Powerful declarative sync/observe/notify data binding to/from any object or model, right through to the DOM</li>
                <li>Bindable collections</li>
                <li>Built-in messageFormat internationalization</li>
                <li>Generators for rapid prototyping and development</li>
                <li>100% CoffeeScript framework</li>
                <li>Works in Chrome, Firefox, Safari, Opera, and IE8+</li>
              </ul>

            </div> <!-- //media-body-->

          </div> <!-- //media -->

        </div> <!-- //col-1-1 -->

    </div> <!-- //Main Content -->

  </div> <!-- //Page -->

</div> <!-- //Fixed Width -->



