<div class="branding">
  {{view "App.NavBarView"}}
</div>

<div class="width-fixed">

	<div class="page has-sidebar">
		{{view "App.ApiDocsSidebarView"}}
		<div class="content" role="main">
			{{view contentClass}}
		</div>
	</div>

</div>

