<div class="width-fixed">
	<h1 class="logo">
		<a href="/">Mozart</a>
	</h1>
	<nav role="navigation" class="navigation">
		<button type="button" class="button button-primary is-collapsible" data-toggle="collapse" data-target=".nav.collapse">
			<i class="icon-img icon-menu"></i>
		</button>
		<ul class="nav collapse">
		<li>
			<a href="/getting_started">Getting Started</a>
			<ul class="dropdown">
				<li>
					<a href="/getting_started">Mozart</a>
				</li>
				<li>
					<a href="http://handlebarsjs.com" target="_blank"><i class="icon icon-arrow-right"></i> Handlebars</a>
				</li>
				<li>
					<a href="http://coffeescript.org" target="_blank"><i class="icon icon-arrow-right"></i> Coffeescript</a>
				</li>
				<li>
					<a href="http://pivotal.github.com/jasmine" target="_blank"><i class="icon icon-arrow-right"></i> Jasmine</a>
				</li>
				<li>
					<a href="http://gruntjs.com" target="_blank"><i class="icon icon-arrow-right"></i> Grunt</a>
				</li>
			</ul>
		</li>
		<li>
			<a href='/framework'>Framework <b class="caret"></b></a>
			{{view "App.FrameworkListView" classHtml="dropdown"}}
		</li>
		<li>
			<a role="button" href="/guides">Guides <b class="caret"></b></a>
			{{view "App.GuideListView" classHtml="dropdown"}}
		</li>
		<li>
			<a href="/generators_demo">Generators</a>
		</li>
		<li>
			<a href="/docs" target="_blank">API Docs</a>
		</li>
		<li>
			<a href="/demos">Demos</a>
		</li>
	  </ul>
	</nav>
</div>
<!-- //Width Fixed -->
