<div class="width-fixed">
	<h1 class="logo">
		<a href="/">Mozart</a>
	</h1>
	<nav role="navigation" class="navigation">
		<button type="button" class="button button-primary is-collapsible" data-toggle="collapse" data-target=".nav.collapse">
			<i class="icon-img icon-menu"></i>
		</button>
		<ul class="nav collapse">
	    <li>
			<a href="">Getting Started</a>
			<ul class="dropdown">
				<li>
					<a href="/getting_started">Mozart</a>
				</li>
				<li>
					<a href="http://handlebarsjs.com" target="_blank"><i class="icon icon-arrow-right"></i> Handlebars</a>
				</li>
				<li>
					<a href="http://coffeescript.org" target="_blank"><i class="icon icon-arrow-right"></i> Coffeescript</a>
				</li>
				<li>
					<a href="http://pivotal.github.com/jasmine" target="_blank"><i class="icon icon-arrow-right"></i> Jasmine</a>
				</li>
				<li>
					<a href="http://gruntjs.com" target="_blank"><i class="icon icon-arrow-right"></i> Grunt</a>
				</li>
			</ul>
	    </li>
	    <li>
			<a href=''>Framework <b class="caret"></b></a>
			<ul class="dropdown">
				<li>
					<a href="/view_demo">Views</a>
				</li>
				<li>
					<a href="/binding_demo">Bindings</a>
				</li>
				<li>
					<a href="/action_demo">Actions</a>
				</li>
				<li>
					<a href="/collection_demo">Collections</a>
				</li>
				<li>
					<a href="/model_demo">Models</a>
				</li>
				<li>
					<a href="/dom_support_demo">DOM Support</a>
				</li>
				<li>
					<a href="/i18n">i18n</a>
				</li>
				<li>
					<a href="/ajax_demo">Ajax</a>
				</li>
			</ul>
	    </li>
	    <li>
			<a role="button">Guides <b class="caret"></b></a>
			<ul class="dropdown">
				<li>
					<a href="/guides/core_concepts">Core Concepts</a>
				</li>
				<li>
					<a href="/guides/understanding_binding">Understanding Binding</a>
				</li>
				<li>
					<a href="/guides/understanding_rendering">Understanding Rendering</a>
				</li>
				<li>
					<a href="/guides/understanding_views">Understanding Views</a>
				</li>
				<li>
					<a href="/guides/adding_new_view">Adding a New View &amp; Route</a>
				</li>
				<li>
					<a href="/guides/creating_controls">Creating Controls</a>
				</li>
				<li>
					<a href="/guides/application_structure">Application Structure</a>
				</li>
                <li>
                	<a href="/guides/top_controller_pattern">The Top Controller Pattern</a>
                </li>
                <li>
                	<a href="/guides/testing_mozart_applications">Testing Mozart Applications</a>
                </li>
			</ul>
	    </li>
	    <li>
	    	<a href="/generators_demo">Generators</a>
	    </li>
		<li>
			<a href="/apidocs">API Docs</a>
		</li>
		<li>
			<a href="/demos">Demos</a>
		</li>
		<li>
			<a href="/changelog">Changelog</a>
		</li>
	  </ul>
	</nav>
</div>
<!-- //Width Fixed -->
