<li><a href="/view_demo">Views</a></li>
<li><a href="/binding_demo">Bindings</a></li>
<li><a href="/action_demo">Actions</a></li>
<li><a href="/collection_demo">Collections</a></li>
<li><a href="/model_demo">Models</a></li>
<li><a href="/dom_support_demo">DOM Support</a></li>
<li><a href="/i18n">i18n</a></li>
<li><a href="/ajax_demo">Ajax</a></li>